body {
    font-family: serif;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    color: #f1b07e;
    margin: 0;
    padding: 0;

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url("./images/bg6.jpeg");
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: "friends";
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

pre, code {
    background: rgb(212, 212, 212);
    margin: .3em;
    padding: .5em;
    font-family: monospace;
    border-radius: 5px;
}

h3::before {
    content: "¶";
    color: gray;
    margin: .5em;
}

#hint {
    font-weight: normal;
    color: gray;
}

p:first-letter {
    text-transform: capitalize
}

#container {
    padding-top: 1.5em;
    position: relative;
    background: rgba(245, 245, 245, 0.815);
    // height: 90%;
    margin: 1em;
    border-radius: 10px;
    padding-bottom: 10em;
}

html,body { height:100%; }


#live {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 1em;

    #search-field, #search-field:focus {
        font-family: serif;
        width: 95%; 
        margin: auto;
        border: none;
        border-bottom: #3d2d2083 4px solid;
        border-radius: 10px;
        font-size: 14px;
        padding: 1em;
        appearance: none;
        color: #3b322a;
        font-size: 19px;

    }


    #search-btn {
        display: block;
        margin: auto;
        margin-top: 1em;
        border-radius: 10px;
        border: none;
        background: white;
        font-size: 16px;
        padding: .7em;
        border-bottom: #3d2d2083 4px solid;
        color: #3b322a;

        &:hover {
            background: rgb(232, 240, 254);
        }

    }
}

details {
    margin: 1rem;
    color: #5e4430;
    text-align: center;
}
summary {
    font-weight: bold;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
}
summary::-webkit-details-marker {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
    color: transparent;
}

#error, #no-results {
    margin: 2em;
}

#no-results {
    background: rgb(226, 224, 94);
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    // box-shadow: rgb(212, 212, 212);
    text-align: center;
    font-weight: bolder;
}

#error {
    background: rgb(252, 130, 130);
    margin: auto;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;

    &::before {
        content: "Error: ";
    }
}

#examples {
    margin: auto;
    justify-content: center;
    display: flex;
    img {
        width: 400px;
        margin: auto;
    }
}

details {
    border: #be9a7e83 solid;
    border-radius: 10px;
    padding: .5em;
}

@font-face {
    font-family: 'friends';
    src: URL('./GABRWFFR.TTF') format('truetype');
}


@media only screen and (min-width: 580px) {
    #container{
        width: 60%;
        margin: auto;
        margin-top: 1.5em;
        padding-bottom: 15em;
    }
  }

nav {
    text-align: justify;
    position: sticky;
    background: white;
    padding: .8em;
    margin: 0;
    display: flex;
    justify-content: center;
    border-bottom: #3d2d2083 solid;
     
    a{
        background: #3d2d2083;
        color: white;
        border-radius: 25px;
        display: inline;
        margin-left: .7em;
        margin-right: .7em;
        padding: .8em;

        font-weight: bolder;
        text-decoration: none;
    }
}

@media only screen and (max-width: 415px) {
    nav{
        padding: .5em;
        a {
            padding: .2em;
            background: none;
            color: black;
    }}
  }

#docs {
    background: none;
    color: black;

    margin: 1.5em;
}