/*  General */
@font-face {
  font-family: 'friends-font';
  src: URL("./friends-font.TTF") format("truetype");
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url("./bg6.jpeg");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))),
  url("./bg6.jpeg");
  quotes: '\201c''\201d';
}

@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Miriam+Libre:wght@400;700&display=swap');

.en {
  font-family: 'Miriam Libre', sans-serif;
}

.he {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-family: 'Miriam Libre', sans-serif;
}


/* Vars */
:root {
  --1: #3d2d2083;
  --2: #3b322a;
  --3: #5e4430;
  --4: #be9a7e83;
  --5: #ebbe9c83;
}

/* Tags */
h1 {
  color: var(--3);
  font-family: "friends-font";
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

select {
  background: var(--5);
  padding: .5em;
  border-radius: 5px;
  margin: .8em;
  font-size: 12px;
}

footer {
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
  position: relative;
  bottom: -1em;
  background: rgba(245, 245, 245, 0.815);
  padding: .5em;
  border-radius: 10px;
}

/* Components */
.Links {
  display: flex;
  justify-content: space-around;
}

.headNav {
  border-bottom: black solid 2px;
  background: white;
}

.result {
  border: var(--2) solid;
  border-radius: 7px;
  margin: .9em;
  padding: .7em;
}

.resultSum {
  font-weight: bold;
  color: var(--2);
}

.navBtn {
  height: 37px;
  width: 32px;
  /* margin: auto; */
}

.linkBtn {
  color: var(--1);
  text-decoration: none;
}

/* Containers */
.center {
  text-align: center;
}

.search {
  border: var(--3) solid;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding: .7em;
  margin-bottom: 1.2em;
}

.container {
  background: rgba(245, 245, 245, 0.815);
  margin: auto;
  width: 80%;
  border-radius: 10px;
  padding: 1em;
  padding-bottom: 17em;
}

/* Spec */
.searchInput {
  font-size: 19px;
  padding: .3em;
  border: var(--3) solid 2px;
  border-radius: 7px;
  color: var(--2);
  margin-bottom: .8em;
}

.searchBtn {
  background: var(--5);
  color: var(--3);
  font-weight: bold;
  border-radius: 7px;
  padding: .4em;
  margin-bottom: .9em;
}

.search summary {
  font-size: 13px;
}

.scrollTop {
  position: fixed;
  bottom: 2em;
  border-radius: 10px;
  padding: 5px;
  color: #ebbe9cfa;
  /* border: var(--2) solid 1px; */
  cursor: pointer;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  left: 80%;
  font-size: 28px;
}

.Links {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.headNav {
  display: flex;
  justify-content: space-evenly;
  padding: .7em;
}

.mention {
	padding-right: 2px;
	border-top-width: 0px;
	border-top-style: solid;
	margin-bottom: -3px;
}

/* Events */
.searchBtn:hover {
  background: var(--3);
  color: var(--5);
}

.resultSum::before {
  content: open-quote;
}

.resultSum::after {
  content: close-quote;
}

.scrollTop:hover {
  background: var(--5);
  color: var(--1);
}


/* Responsive */
@media screen and (max-width: 600px) {
  .search {
    width: auto;
}

}

@media screen and (max-width: 422px) {
  .siteLang {
    font-size: 12px;
  }
  .headNav {
    padding: 0.3em 0.3em 0 0;  }
}