/*  General */
@font-face {
  font-family: "friends-font";
  src: URL("./friends-font.TTF") format("truetype");
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./bg6.webp");
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.5)),
      to(rgba(255, 255, 255, 0.5))
    ),
    url("./bg6.webp");
  quotes: "\201c""\201d";
}

@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Miriam+Libre:wght@400;700&display=swap");

.en {
  font-family: "Miriam Libre", sans-serif;
}

.fr {
  font-family: Garamond, serif;
}

.he {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Miriam Libre", sans-serif;
}

/* Vars */
:root {
  --1: #3d2d2083;
  --2: #3b322a;
  --3: #5e4430;
  --4: #be9a7e83;
  --5: #ebbe9c83;
  --menu-bg: #422f22d6;
}

/* Tags */

h1 {
  color: var(--3);
  font-family: "friends-font";
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

#headline {
  background: rgba(245, 245, 245, 0.815);
  width: 51%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.7em;
  border-radius: 10px;
}


select {
  background: var(--5);
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.8em;
  font-size: 12px;
}

footer {
  text-align: center;
}

h3 {
  text-align: center;
}

.blurBg {
  background: rgba(245, 245, 245, 0.815);
  border-radius: 10px;
}

/* header#headerline {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  justify-content: flex-end;
} */

svg {
  bottom: -2px;
  position: relative;
}

a {
  color: black !important;
  text-decoration: none !important;
}

/* Components */
.Links {
  display: flex;
  justify-content: space-around;
}

.headNav {
  border-bottom: black solid 2px;
  background: white;
}

.result {
  border: var(--2) solid;
  border-radius: 7px;
  margin: 0.9em;
  padding: 0.7em;
}

.resultSum {
  font-weight: bold;
  color: var(--2);
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

h1#textLogo {
  text-decoration: none;
  text-align: center;
}

.navBtn {
  height: 24px;
  width: 24px;
  margin: -2px 1em 0 1em;
}

.tooltip,
.navSentences,
.navBtn {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.linkBtn {
  color: var(--1);
  text-decoration: none;
}

/* Containers */
.center {
  text-align: center;
}

.search {
  border: var(--3) solid;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding: 0.7em;
  margin-bottom: 1.2em;
}

.container {
  background: rgba(245, 245, 245, 0.815);
  margin: auto;
  width: 80%;
  border-radius: 10px;
  padding: 1em;
  padding-bottom: 17em;
}

p.navSentences {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

/* Spec */
.searchInput {
  font-size: 19px;
  padding: 0.3em;
  border: var(--3) solid 2px;
  border-radius: 7px;
  color: var(--2);
  margin-bottom: 0.8em;
}

.searchBtn {
  background: var(--5);
  color: var(--3);
  font-weight: bold;
  border-radius: 7px;
  padding: 0.4em;
  margin-bottom: 0.9em;
}

label.searchLabel {
  font-size: 12px;
  border-bottom: 1px solid var(--4);
  padding-bottom: 3px;
  color: var(--3);
}

.search summary {
  font-size: 13px;
}

.scrollTop {
  position: fixed;
  bottom: 2em;
  border-radius: 10px;
  padding: 5px;
  color: #ebbe9cfa;
  /* border: var(--2) solid 1px; */
  cursor: pointer;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  left: 80%;
  font-size: 28px;
}

.Links {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.langItem {
  font-size: 12px;
  color: var(--5);
}

.headNav {
  display: flex;
  justify-content: space-evenly;
  padding: 0.7em;
  margin: 0;
}

a.logo {
  width: 50%;
  margin: auto;
}

.menu-item {
  width: 9em;
  font-size: 16px;
  color: var(--5) !important;
  text-decoration: none;
  margin: 0.7em;
  padding: 3px;
}

.searchLang {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#dropdown-basic {
  background: none;
  border-radius: 10px;
  color: var(--5);
}

.yelow {
  color: yellow;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

/* Events */

/* .menu-item:hover {
  border-bottom: 1px solid var(--4);
  padding-bottom: 2px;
} */

.langItem:hover {
  font-size: 14px;
}

.searchBtn:hover {
  padding: 3px;
  padding: 3px;
  background: var(--3);
  color: var(--5);
}

.resultSum::before {
  content: open-quote;
}

.resultSum::after {
  content: close-quote;
}

.scrollTop:hover {
  background: var(--5);
  color: var(--1);
}

.navBtn:hover {
  cursor: pointer;
}

.navBtn:focus {
  outline: none;
}

.waiting {
  cursor: wait !important;
}

.siteSelectLangList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.siteSelectLang {
  margin-top: 2em;
}

/* Responsive */
@media screen and (max-width: 600px) {
  .search {
    width: auto;
  }
}

@media screen and (max-width: 422px) {
  .siteLang {
    font-size: 15px;
    margin-top: 2px;
    color: var(--1);
  }
  .headNav {
    padding: 0.3em 0.3em 0 0;
  }

  h1 {
    font-size: 1.6em;
  }

  .bm-burger-button {
    width: 24px !important;
    height: 24px !important;
    left: 24px !important;
    top: 24px !important;
  }
}

@media screen and (max-width: 371px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 329px) {
  .search {
    padding: 0.3em;
  }
  input.searchInput {
    width: 100%;
  }
}

@media screen and (max-width: 384px) {
  #headline {
    width: 70%;
  }
}

@media screen and (max-width: 750px) {
  h3 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 412px) {
  #bm-morph-shape {
    display: none;
  }
  .bm-menu-wrap {
    width: 80px;
  }
  nav.bm-item-list {
    left: -7px;
    position: inherit;
  }
  .bm-menu-wrap {
    width: 179px !important;
  }
}

/* 
 */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--1);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--3);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu-wrap {
  border-right: solid 2px var(--4);
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--4);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: -2px;
}

/* General sidebar styles */
.bm-menu {
  background: var(--menu-bg);
  padding: 2.5em 1.5em 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: var(--menu-bg);
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

.bm-item-list {
  margin-bottom: 2em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  /* position: 0 */
}


.menu-item:after {
  display:block;
  content: '';
  border-bottom: 2px solid var(--4);
  padding-bottom: 2px;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
.menu-item:hover:after { transform: scaleX(1); }
